$colorVariable: wheat;

.formContainer { //notice how the name is the ontainer name of our divider!
    background-color: aquamarine;
    height: 100vh; //THIS MEANS 100% OF THE THING
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal

    //child wrappers, you can edit children in your parents using scss
    .formWrapper {
        background-color: violet;
        padding: 20px 60px; //vertical first then horizontal
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color:forestgreen;
            font-weight: bold;
            font-size: 30px;
        }

        .title{
            color:springgreen;
            font-weight: lighter;
            font-size: 15px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px; //15 pixels

            input{
                background-color: goldenrod;
                border: 3px solid white;
                padding: 15px;
            }
            input:focus{
                background-color: orangered;
                border: 3px solid black;
            }
            input::placeholder{
                color: black;
            }
            button{
                background-color: cornflowerblue;
                cursor: pointer; //get the finger to appear when hovering!
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                color: darkslateblue;
                font-size: 14px;
                img{
                    width: 50px;
                }
            }
        }

        p{
            color: red;
            font-size: 12px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin-top: 10px;
        }
    }
}

.home{
    background-color: aquamarine;
    height: 100vh; //THIS MEANS 100% OF THE THING
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1; //Flex lets you scale components inside containers relative to size. in this case, sidebar is entitled to 1 and chat to 2
            border-right: 3px solid firebrick;
            background-color: darkcyan;

            .navbar{ //this relates to the navbar INSIDE of the sidebar
                display: flex;
                align-items: center;
                background-color: sienna;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: black;

                .logo{
                    color: red;
                    font-size: 20px;
                    font-weight: bold;
                }

                .user{
                    display: flex;
                    gap: 10px; //gap is the gaps between elements inside of a component

                    img{
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button{
                        background-color: hotpink;
                        color: red;
                        font-size: 10px;
                        border: 3px solid black;
                        cursor: pointer;
                    }
                }
            }

            .search{
                border-bottom: 2px solid gray;

                .searchForm{
                    padding: 10px;
                    max-height: 10px; //might have to delete if it dies lmfao
                    padding-bottom: 20px; //add space from the bottom of this to the user chats

                    input{
                        background-color: transparent;
                        border: none;
                        color: wheat;
                        outline: none;

                        &::placeholder{ //and we want to edit input in the context of placeholder
                            color: black;
                        }
                    }
                }

                .userChat{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: wheat;
                    cursor: pointer;
                    border-top: 2px solid gray;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        background-color: transparent;
                    }

                    &:hover{
                        background-color: tomato;
                    }
                }
            }

            .chats{
                border-bottom: 2px solid gray;

                .searchForm{
                    padding: 10px;
                    max-height: 10px; //might have to delete if it dies lmfao
                    padding-bottom: 20px; //add space from the bottom of this to the user chats

                    input{
                        background-color: transparent;
                        border: none;
                        color: wheat;
                        outline: none;

                        &::placeholder{ //and we want to edit input in the context of placeholder
                            color: black;
                        }
                    }
                }

                .userChat{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: wheat;
                    cursor: pointer;
                    border-top: 2px solid gray;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        background-color: transparent;
                    }

                    &:hover{
                        background-color: tomato;
                    }

                    .userChatInfo{
                        span{
                            font: 18px;
                            font-weight: bold;
                            color: black;
                        }

                        p{
                            font-size: 10px;
                            color: lightblue;
                        }
                    }
                }
            }
        }
        .chat{
            flex: 2;
            background-color: rosybrown;

            .chatInfo{
                height: 50px;
                background-color: grey;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: lightblue;

                .chatIcons{
                    img{
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                        margin-right: 5px;
                    }
                }
            }

            .messages {
                background-color: lawngreen;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                .message{
                    display: flex;
                    gap: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: lighter;
                        font-size: 12px;
                        margin-bottom: 20px;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                            background-color: black;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                          background-color: white;
                          border-radius: 0px 10px 10px 10px;  
                          padding: 10px 20px;
                          max-width: max-content;
                        }

                        img{
                            width: 50%;
                        }
                    }

                    &.owner{
                        //if it is a message, AND it is an owner, since we have 2 class names we can have combinations
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;
                            p{
                                background-color: purple;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                                max-width: max-content;
                            }
                        }
                    }
                }
            }

            .input {
                height: 50px;
                background-color: aliceblue;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: navy;
                    font-size: 18px;

                    &::placeholder{
                        color: lightcoral;
                    }
                }

                .send{
                    display: flex;
                    align-items: center;
                    img{
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }

                    button{
                        border: none;
                        padding: 10px 15px;
                        color: greenyellow;
                        background-color: yellowgreen;
                    }
                }
            }
        }
    }
}