.agreementScreen {
    background-color: #FEF8F3;
    height: 100vh; //THIS MEANS 100% OF THE THING
    margin-top: 20vh;
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal 

    .menubar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        background-color: #FEF8F3;

        .left {
            max-width: 30%;
            img {
                max-width: 100%;
                max-height: auto;
            }
        }

        .right {
            a {
                margin-right: 15%;
                font-size: 20px;
            }

            img {
                max-width: 10%;
                max-height: auto;
                border-radius: 50%;
                cursor: pointer;
            }
        }
          
        .gap {
            width: 5px; /* Set your desired gap width */
        }
    }

    .page {
        position: relative;
        width: 100vw; /* Set your desired width */
        height: 60vh;
        top: -30vh;

        .background {
            img {
                position: absolute;
                top: 25%;
                left: 10%;
                width: 80vw; /* Set your desired width */
                height: 65vh; /* Set your desired height */
                background-size: cover;
                background-repeat: no-repeat;
                opacity: 0.5; /* Set your desired opacity */
            }
          
            .content {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                left: 25%;
                top: 15vh;
                height: 50%;
                width: 50%;
                z-index: 1;
                text-align: center;
                padding: 10px; /* Add padding for better appearance */
                flex-direction: column;

                h1 {
                    color: #005670;
                    font-size: 40px;
                    max-height: 40px;
                    max-width: 150%;
                }

                h2 {
                    color: #005670;
                    font-size: 30px;
                }
            }
          
            button {
                padding: 10px 20px; /* Add padding for better appearance */
                background-color: #005670; /* Set your desired background color */
                color: #fff; /* Set text color to white */
                border: none; /* Remove border */
                border-radius: 5px; /* Optional: Add border radius for rounded corners */
                cursor: pointer; /* Add cursor pointer on hover */
                margin-top: 20%;
            }
        }
    }
}

.resultsScreen {
    background-color: #FEF8F3;
    height: 100vh; //THIS MEANS 100% OF THE THING
    margin-top: 10vh;
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal 
    flex-direction: column;

    .menubar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        background-color: #FEF8F3;

        .left {
            max-width: 30%;
            img {
                max-width: 100%;
                max-height: auto;
            }
        }

        .right {
            a {
                margin-right: 15%;
                font-size: 20px;
            }

            img {
                max-width: 10%;
                max-height: auto;
                border-radius: 50%;
                cursor: pointer;
            }
        }
          
        .gap {
            width: 5px; /* Set your desired gap width */
        }
    }

    .contribcontainer{
        height: 80vh;
        width: 100%;
        align-items: center;

        .bigtitle{
            flex: 1;
            font-size: 30px;
            text-align: center;
        }

        .subtitle{
            flex: 1;
            font-size: 25px;
            text-align: center;
            margin-bottom: 2vh;
        }

        .grid-container {
            span{
                margin-right: 25%;
            }
        }

        .imagebutton{
            flex: 1;
            margin-top: 2%;
            height: 10%;
            align-items: center;
            justify-content: center;
            display: flex;
            
            button{
                background-color: #005670;
                color: white;
                width: 30%;
                height: 100%;
                border-radius: 10vw;
                cursor: pointer;
            }
        }

        .feedbackbutton{
            flex: 1;
            margin-top: 1%;
            height: 10%;
            align-items: center;
            justify-content: center;
            display: flex;
            
            button{
                background-color: #005670;
                color: white;
                width: 30%;
                height: 100%;
                border-radius: 10vw;
                cursor: pointer;
            }
        }
    }


}

.adminhome {
    
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 20%; /* Set the width of the sidebar */
        height: 100vh; /* Set the height of the sidebar to fill the viewport */
        background-color: #f0f0f0; /* Background color for visualization */

        .logoBox {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc; /* Add a border between items */
            img {
                width: 80%;
                
            }
        }

        .item {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc; /* Add a border between items */
            height: 5%;

            img {
                width: 30px; /* Set the width of the image */
                height: 30px; /* Set the height of the image */
                margin-right: 10px; /* Add spacing between image and text */
            }

            span{
                flex: 1; /* Allow text to take up remaining space */
            }

        }
    }
}

.home{
    background-color: aquamarine;
    height: 100vh; //THIS MEANS 100% OF THE THING
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1; //Flex lets you scale components inside containers relative to size. in this case, sidebar is entitled to 1 and chat to 2
            border-right: 3px solid firebrick;
            background-color: darkcyan;

            .navbar{ //this relates to the navbar INSIDE of the sidebar
                display: flex;
                align-items: center;
                background-color: sienna;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: black;

                .logo{
                    color: red;
                    font-size: 20px;
                    font-weight: bold;
                }

                .user{
                    display: flex;
                    gap: 10px; //gap is the gaps between elements inside of a component

                    img{
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button{
                        background-color: hotpink;
                        color: red;
                        font-size: 10px;
                        border: 3px solid black;
                        cursor: pointer;
                    }
                }
            }

            .search{
                border-bottom: 2px solid gray;

                .searchForm{
                    padding: 10px;
                    max-height: 10px; //might have to delete if it dies lmfao
                    padding-bottom: 20px; //add space from the bottom of this to the user chats

                    input{
                        background-color: transparent;
                        border: none;
                        color: wheat;
                        outline: none;

                        &::placeholder{ //and we want to edit input in the context of placeholder
                            color: black;
                        }
                    }
                }

                .userChat{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: wheat;
                    cursor: pointer;
                    border-top: 2px solid gray;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        background-color: transparent;
                    }

                    &:hover{
                        background-color: tomato;
                    }
                }
            }

            .chats{
                border-bottom: 2px solid gray;

                .searchForm{
                    padding: 10px;
                    max-height: 10px; //might have to delete if it dies lmfao
                    padding-bottom: 20px; //add space from the bottom of this to the user chats

                    input{
                        background-color: transparent;
                        border: none;
                        color: wheat;
                        outline: none;

                        &::placeholder{ //and we want to edit input in the context of placeholder
                            color: black;
                        }
                    }
                }

                .userChat{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: wheat;
                    cursor: pointer;
                    border-top: 2px solid gray;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        background-color: transparent;
                    }

                    &:hover{
                        background-color: tomato;
                    }

                    .userChatInfo{
                        span{
                            font: 18px;
                            font-weight: bold;
                            color: black;
                        }

                        p{
                            font-size: 10px;
                            color: lightblue;
                        }
                    }
                }
            }
        }
        .chat{
            flex: 2;
            background-color: rosybrown;

            .chatInfo{
                height: 50px;
                background-color: grey;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: lightblue;

                .chatIcons{
                    img{
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                        margin-right: 5px;
                    }
                }
            }

            .messages {
                background-color: lawngreen;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;

                .message{
                    display: flex;
                    gap: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: lighter;
                        font-size: 12px;
                        margin-bottom: 20px;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                            background-color: black;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                          background-color: white;
                          border-radius: 0px 10px 10px 10px;  
                          padding: 10px 20px;
                          max-width: max-content;
                        }

                        img{
                            width: 50%;
                        }
                    }

                    &.owner{
                        //if it is a message, AND it is an owner, since we have 2 class names we can have combinations
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;
                            p{
                                background-color: purple;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                                max-width: max-content;
                            }
                        }
                    }
                }
            }

            .input {
                height: 50px;
                background-color: aliceblue;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: navy;
                    font-size: 18px;

                    &::placeholder{
                        color: lightcoral;
                    }
                }

                .send{
                    display: flex;
                    align-items: center;
                    img{
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }

                    button{
                        border: none;
                        padding: 10px 15px;
                        color: greenyellow;
                        background-color: yellowgreen;
                    }
                }
            }
        }
    }
}