.agreementScreen {
    background-color: #FEF8F3;
    height: 100vh; //THIS MEANS 100% OF THE THING
    margin-top: 20vh;
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal 

    .menubar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        background-color: #FEF8F3;

        .left {
            max-width: 30%;
            img {
                max-width: 100%;
                max-height: auto;
            }
        }

        .right {
            a {
                margin-right: 15%;
                font-size: 20px;
            }

            img {
                max-width: 10%;
                max-height: auto;
                border-radius: 50%;
                cursor: pointer;
            }
        }
          
        .gap {
            width: 5px; /* Set your desired gap width */
        }
    }

    .page {
        position: relative;
        width: 100vw; /* Set your desired width */
        height: 60vh;
        top: -30vh;

        .background {
            img {
                position: absolute;
                top: 25%;
                width: 100vw; /* Set your desired width */
                height: 120vh; /* Set your desired height */
                opacity: 0.25; /* Set your desired opacity */
            }
          
            .content {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                left: 12.5%;
                top: 13vh;
                height: 50%;
                width: 75%;
                z-index: 1;
                text-align: center;
                padding: 10px; /* Add padding for better appearance */
                flex-direction: column;

                h1 {
                    color: #005670;
                    font-size: 50px;
                    max-height: 40px;
                    max-width: 150%;
                }

                h2 {
                    color: #005670;
                    font-size: 30px;
                }

                p {
                    font-size: 12px;
                }
            }
          
            button {
                padding: 10px 20px; /* Add padding for better appearance */
                background-color: #005670; /* Set your desired background color */
                color: #fff; /* Set text color to #FEF8F3 */
                border: none; /* Remove border */
                border-radius: 5px; /* Optional: Add border radius for rounded corners */
                cursor: pointer; /* Add cursor pointer on hover */
                margin-top: 5%;
            }
        }
    }
}

.resultsScreen {
    background-color: #FEF8F3;
    height: 100vh; //THIS MEANS 100% OF THE THING
    width: 100%;
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal 
    flex-direction: column;

    .menubar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        background-color: #FEF8F3;

        .left {
            max-width: 30%;
            img {
                max-width: 100%;
                max-height: auto;
            }
        }

        .right {
            align-items: right;
            a {
                margin-right: 15%;
                font-size: 20px;
            }

            .dropdown {
                img {
                    max-width: 10%;
                    max-height: auto;
                    border-radius: 50%;
                    margin-left: 80%;
                    cursor: pointer;
                }
            }
        }
          
        .gap {
            width: 10vw; /* Set your desired gap width */
        }
    }

    .contribcontainer{
        height: 80vh;
        width: 100%;
        align-items: center;
        background-color: #FEF8F3;

        .bigtitle{
            flex: 1;
            font-size: 30px;
            text-align: center;
        }

        .subtitle{
            flex: 1;
            font-size: 25px;
            text-align: center;
            margin-bottom: 5vh;
        }

        .grid-container {
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                margin-left: 15vw;
                margin-right: 12.5vw;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5vw;
                overflow: visible;
            }
        }

        .imagebutton{
            flex: 1;
            margin-top: 2%;
            height: 10%;
            align-items: center;
            justify-content: center;
            display: flex;
            
            button{
                background-color: #005670;
                color: #FEF8F3;
                width: 30%;
                height: 100%;
                border-radius: 10vw;
                cursor: pointer;
            }
        }

        .feedbackbutton{
            flex: 1;
            margin-top: 1%;
            height: 10%;
            align-items: center;
            justify-content: center;
            display: flex;
            
            button{
                background-color: #005670;
                color: #FEF8F3;
                width: 30%;
                height: 100%;
                border-radius: 10vw;
                cursor: pointer;
            }
        }

        .graphs {
            display: flex;
            flex-direction: row;
            .wordCloud {

                p {
                    text-align: center;
                }

                flex: 1;
                margin-top: 5%;
                z-index: 1;
            }

            .loadingtext {
                position: absolute;
                top: 95%;
                left: 47.5%;
                font-weight: bolder;
                font-size: 20;
                z-index: 0;
                transform: translate('translate(-100%, -100%)')
            }

            .similarity {

                p {
                    text-align: center;
                }

                flex: 1;
                max-width: 33%;
                z-index: 1;

                img {
                    align-content: center;
                    justify-content: center;
                    width: 100%;
                    outline: 2px solid black;
                }

                .pieChartInfo {
                    flex: 1;
                    font-size: 15px;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 1vh;
                }

                .pieChartStyle {
                    position: relative;
                    display: flex;
                    height: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 5%;
                    margin-bottom: 5%;

                    .pieChartInfo {
                        canvas{
                            padding: 10px;
                        }
                    }
                }
            }

            .experience{
                flex: 1;
                margin-top: 10%;

                p {
                    text-align: center;
                }

                .grid-item {
                    display: flex;
                    justify-content: center;
                    padding: 5px;
                    flex-direction: row;
                    width: 100%;
                    .cell {
                        border: 1px solid black;
                        padding: 1%;
                        width: 12.5%;
                        font-size: 60%;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
    


}

.adminhome {
    .trollslist {
        max-width: 800px;
        margin: 2rem auto;
        margin-top: 22vh;
        padding: 1rem;
        background-color: #FEF8F3;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
        button {
          margin-bottom: 1rem;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 4px;
          background-color: #005670; // primary color from your theme
          color: #FEF8F3;
          font-size: 1rem;
          cursor: pointer;
      
          &:hover {
            background-color: darken(#005670, 10%);
          }
          
        }
      
        h2 {
          color: #2c3e50; // secondary color from your theme
          border-bottom: 1px solid #ecf0f1;
          padding-bottom: 0.5rem;
        }
      
        ul {
          list-style: none;
          padding: 0;
      
          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0;
            border-bottom: 1px solid #ecf0f1;
      
            &:last-child {
              border-bottom: none;
            }
          }
        }
      
        .delete-button {
          padding: 0.3rem 0.6rem;
          border: none;
          border-radius: 4px;
          background-color: #BB302C; // button color for delete action
          color: #FEF8F3;
          cursor: pointer;
          
          &:hover {
            background-color: darken(#BB302C, 10%);
          }
        }
      }
      .change-permission {
        max-width: 800px;
        margin: 2rem auto;
        padding: 1rem;
        background-color: #FEF8F3;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        
        button {
          margin-bottom: 1rem;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 4px;
          background-color: #005670; // Primary color from your theme
          color: #FEF8F3;
          font-size: 1rem;
          cursor: pointer;
      
          &:hover {
            background-color: darken(#005670, 10%);
          }
        }

        form {
          display: flex;
          flex-direction: column;
          
          label {
            margin-bottom: 0.5rem;
          }
      
          input[type='email'],
          select {
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1rem;
      
            &:focus {
              outline: none;
              border-color: #005670;
              box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.5); // Focus ring around the input
            }
          }
      
          button[type='submit'] {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 4px;
            background-color: #F78B2B; // Primary color from your theme
            color: #FEF8F3;
            font-size: 1rem;
            cursor: pointer;
      
            &:hover {
              background-color: darken(#005670, 10%);
            }
          }
        }
      }
      
      // Assuming this button is inside your .change-permission container
      button.toggle-form-button {
        margin-bottom: 1rem; // Separation from the top of the container
        // Inherit styles from the .change-permission button
      }
      
      .chat-action-container {
        max-width: 800px;
        margin: 2rem auto;
        padding: 1rem;
        background-color: #FEF8F3;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
        button {
          margin-bottom: 1rem;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 4px;
          background-color: #005670; // Primary color from your theme
          color: #FEF8F3;
          font-size: 1rem;
          cursor: pointer;
      
          &:hover {
            background-color: darken(#005670, 10%);
          }
        }
      
        form {
          display: none; // Hide by default, will be shown when 'show' class is added
          flex-direction: column;
          align-items: flex-start;
      
          &.show {
            display: flex; // Show the form
          }
      
          label {
            margin-bottom: 0.5rem;
          }
      
          input[type="text"],
          select {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ddd;
            border-radius: 4px;
      
            &:focus {
              outline: none;
              border-color: #005670;
              box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.5);
            }
          }
      
          button[type='submit'] {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 4px;
            background-color: #BB302C; // A success color for submit buttons
            color: #FEF8F3;
            cursor: pointer;
      
            &:hover {
              background-color: darken(#BB302C, 10%);
            }
          }
        }
      }
      .download-chats-container {
        max-width: 800px;
        margin: 2rem auto;
        padding: 1rem;
        background-color: #FEF8F3;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
        .download-button-wrapper {
          padding: 0.5rem 1rem;
          background-color: #005670; // Blue color, similar to other buttons in the UI
          color: #FEF8F3;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 1rem;
          margin-right: 1rem; // Add some space if there are other buttons or elements
      
          &:hover {
            background-color: darken(#005670, 10%); // Darken button color on hover for a visual feedback
          }
      
          &:active {
            background-color: darken(#005670, 15%); // Further darken button color on click
          }
      
          &:focus {
            outline: none; // Remove the default focus outline
            box-shadow: 0 0 0 2px lighten(#005670, 20%); // Optional: add a custom focus style
          }
        }
        .download-button {
            padding: 0.5rem 1rem;
            background-color: #018445; // Blue color, similar to other buttons in the UI
            color: #FEF8F3;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
            margin-right: 1rem; // Add some space if there are other buttons or elements
        
            &:hover {
              background-color: darken(#018445, 10%); // Darken button color on hover for a visual feedback
            }
        
            &:active {
              background-color: darken(#018445, 15%); // Further darken button color on click
            }
        
            &:focus {
              outline: none; // Remove the default focus outline
              box-shadow: 0 0 0 2px lighten(#018445, 20%); // Optional: add a custom focus style
            }
          }
      }
      
      .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        background-color: #FEF8F3;
        padding: 10px;
        z-index: 1;

        .left {
            max-width: 30%;
            img {
                max-width: 100%;
                max-height: auto;
            }
        }

        .right {
            button {
                margin-left: -50%;
                margin-right: -5%;
                max-width: 100%;
                max-height: auto;
                background-color: #005670;
                color: #FEF8F3;
                border-radius: 10px;
                padding: 10px;
                cursor: pointer;
            }
        }
          
        .gap {
            width: 5px; /* Set your desired gap width */
        }

    }
    .footer-text {
        position: flex;
        font-size: small;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 1rem;
        background-color: #FEF8F3;
        border-top: 1px solid #ecf0f1;
      }
    

      
}

body {
    background-color: #FEF8F3;
}

.home{
    background-color: #FEF8F3;
    height: 80vh; //THIS MEANS 100% OF THE THING
    width: 100%;
    margin-top: 20vh;
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal

    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        background-color: #FEF8F3;

        .left {
            max-width: 30%;
            img {
                max-width: 100%;
                max-height: auto;
            }
        }
        .admin-button {
            margin-left: -25%;
            margin-right: -5%;
            max-width: 100%;
            max-height: auto;
            background-color: #005670;
            color: #FEF8F3;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;

        }
        .right {
            a {
                margin-right: 5%;
                font-size: 20px;
            }
            .dropdown {
                img {
                    max-width: 10%;
                    max-height: auto;
                    border-radius: 50%;
                    margin-left: 80%;
                    cursor: pointer;
                }
            }
            button {
                margin-left: -50%;
                margin-right: -5%;
                max-width: 100%;
                max-height: auto;
                background-color: #005670;
                color: #FEF8F3;
                border-radius: 10px;
                padding: 10px;
                cursor: pointer;
            }
        }
          
        .gap {
            width: 5px; /* Set your desired gap width */
        }

    }

    .container {
        border: 0px solid #FEF8F3;
        border-radius: 8px;
        width: 75%;
        height: 80vh; /* Use viewport height (vh) for better responsiveness */
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
     }
     
     .bg {
        width: 100%;
        flex-grow: 1;
     }
     
     .chat {
        flex: 2;
        background-color: #FEF8F3;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
     }
     
     .submit-convo {
        justify-content: center;
        display: flex;
        margin-top: 1rem;
        padding-bottom: 1rem;
     }
     
     .submit-convo button {
        padding: 0.5rem 1rem;
        background-color: #018445;
        color: #FEF8F3;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        margin-right: 1rem;
     }
     
     .chatInfo {
        height: 50px;
        background-color: #545454;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        color: #FEF8F3;
     }
     
     .chatIcons img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        margin-right: 5px;
     }
     
     .messages {
        background-color: #FEF8F3;
        padding: 8px;
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align messages to the left */
     }
     
     .messages::-webkit-scrollbar {
        width: 8px;
     }
     
     .messages::-webkit-scrollbar-thumb {
        background-color: #EEEEEE;
        border-radius: 4px;
     }
     
     .message {
        display: flex;
        gap: 20px;
        max-width: 80%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        margin-bottom: 20px;
     }
     
     .messageInfo {
        display: flex;
        flex-direction: column;
        color: gray;
        font-weight: lighter;
        font-size: 12px;
     }
     
     .messageInfo img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #FEF8F3;
        margin-top: 35%;
     }
     
     .messageContent {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
     }
     
     .messageContent p {
        background-color: #005670;
        border-radius: 0px 10px 10px 10px;
        padding: 10px 20px;
        color: #FEF8F3;
        max-width: max-content;
     }
     
     .messageContent img {
        width: 50%;
     }
     
     .message.owner {
        flex-direction: row-reverse;
        align-self: flex-end; /* Align owner messages to the right */
        margin-left: 0;
     }
     
     .message.owner .messageContent {
        align-items: flex-end;
     }
     
     .message.owner .messageContent p {
        background-color: #43BDAD;
        color: black;
        border-radius: 10px 0px 10px 10px;
        max-width: max-content;
     }
     
     .message.owner .messageInfo img {
        filter: invert(1.0);
     }
     
     .input {
        height: 40px; /* Increased height for better visibility */
        background-color: #FEF8F3;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        border: 1px solid #545454;
        margin-bottom: 1rem; /* Add some spacing at the bottom */
     }
     
     .input-area {
        flex-grow: 1;
        display: flex;
     }
     
     .input-area input {
        flex-grow: 1;
        border: none;
        outline: none;
        background-color: #FEF8F3;
        color: black;
        font-size: 18px;
        border-radius: 20px;
        padding: 0 1rem; /* Add some padding for better visibility */
        text-align: left;
     }
     
     .input-area input::placeholder {
        color: black;
        text-align: left;
     }
     
     .send {
        display: flex;
        align-items: center;
        margin-left: 1rem;
     }
     
     .send button {
        padding: 0.5rem 1rem;
        background-color: #005670;
        color: #FEF8F3;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
     }
}
