.agreementScreen {
    background-color: #FEF8F3;
    height: 100vh; //THIS MEANS 100% OF THE THING
    margin-top: 20vh;
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal 

    .menubar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        background-color: #FEF8F3;

        .left {
            max-width: 30%;
            img {
                max-width: 100%;
                max-height: auto;
            }
        }

        .right {
            a {
                margin-right: 15%;
                font-size: 20px;
            }

            img {
                max-width: 10%;
                max-height: auto;
                border-radius: 50%;
                cursor: pointer;
            }
        }
          
        .gap {
            width: 5px; /* Set your desired gap width */
        }
    }

    .page {
        position: relative;
        width: 100vw; /* Set your desired width */
        height: 60vh;
        top: -30vh;

        .background {
            img {
                position: absolute;
                top: 25%;
                left: 10%;
                width: 80vw; /* Set your desired width */
                height: 65vh; /* Set your desired height */
                background-size: cover;
                background-repeat: no-repeat;
                opacity: 0.45; /* Set your desired opacity */
            }
          
            .content {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                left: 12.5%;
                top: 13vh;
                height: 50%;
                width: 75%;
                z-index: 1;
                text-align: center;
                padding: 10px; /* Add padding for better appearance */
                flex-direction: column;

                h1 {
                    color: #005670;
                    font-size: 40px;
                    max-height: 40px;
                    max-width: 150%;
                }

                h2 {
                    color: #005670;
                    font-size: 30px;
                }

                p {
                    font-size: 12px;
                }
            }
          
            button {
                padding: 10px 20px; /* Add padding for better appearance */
                background-color: #005670; /* Set your desired background color */
                color: #fff; /* Set text color to white */
                border: none; /* Remove border */
                border-radius: 5px; /* Optional: Add border radius for rounded corners */
                cursor: pointer; /* Add cursor pointer on hover */
                margin-top: 5%;
            }
        }
    }
}

.resultsScreen {
    background-color: #FEF8F3;
    height: 100vh; //THIS MEANS 100% OF THE THING
    margin-top: 10vh;
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal 
    flex-direction: column;

    .menubar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        background-color: #FEF8F3;

        .left {
            max-width: 30%;
            img {
                max-width: 100%;
                max-height: auto;
            }
        }

        .right {
            a {
                margin-right: 15%;
                font-size: 20px;
            }

            img {
                max-width: 10%;
                max-height: auto;
                border-radius: 50%;
                cursor: pointer;
            }
        }
          
        .gap {
            width: 5px; /* Set your desired gap width */
        }
    }

    .contribcontainer{
        height: 80vh;
        width: 100%;
        align-items: center;

        .bigtitle{
            flex: 1;
            font-size: 30px;
            text-align: center;
        }

        .subtitle{
            flex: 1;
            font-size: 25px;
            text-align: center;
            margin-bottom: 2vh;
        }

        .grid-container {
            span{
                margin-right: 12.5%;
                margin-left: 12.5%;
            }
        }

        .imagebutton{
            flex: 1;
            margin-top: 2%;
            height: 10%;
            align-items: center;
            justify-content: center;
            display: flex;
            
            button{
                background-color: #005670;
                color: white;
                width: 30%;
                height: 100%;
                border-radius: 10vw;
                cursor: pointer;
            }
        }

        .feedbackbutton{
            flex: 1;
            margin-top: 1%;
            height: 10%;
            align-items: center;
            justify-content: center;
            display: flex;
            
            button{
                background-color: #005670;
                color: white;
                width: 30%;
                height: 100%;
                border-radius: 10vw;
                cursor: pointer;
            }
        }

        .graphs {
            display: flex;
            .wordCloud {
                flex: 1;
                width: 30%;
            }

            .similarity {
                flex: 1;
                width: 100%;

                .pieChartStyle {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    margin-top: 15%;

                    .pieChartInfo {
                        width: 75%;
                    }
                }
            }

            .experience{
                flex: 1;
                margin-top: 10%;

                .grid-item {
                    display: flex;
                    justify-content: center;
                    padding: 5px;
                    flex-direction: row;
                    width: 100%;
                    .cell {
                        border: 1px solid black;
                        padding: 1%;
                        width: 12.5%;
                        font-size: 60%;
                        font-weight: bolder;
                    }
                }
            }
        }
    }


}

.adminhome {
    
    .sidebar {
        display: flex;
        flex-direction: column;
        width: 20%; /* Set the width of the sidebar */
        height: 100vh; /* Set the height of the sidebar to fill the viewport */
        background-color: #f0f0f0; /* Background color for visualization */

        .logoBox {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc; /* Add a border between items */
            img {
                width: 80%;
                
            }
        }

        .item {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc; /* Add a border between items */
            height: 5%;

            img {
                width: 30px; /* Set the width of the image */
                height: 30px; /* Set the height of the image */
                margin-right: 10px; /* Add spacing between image and text */
            }

            span{
                flex: 1; /* Allow text to take up remaining space */
            }

        }
    }
}

.home{
    background-color: #FEF8F3;
    height: 80vh; //THIS MEANS 100% OF THE THING
    margin-top: 20vh;
    display: flex;
    align-items: center; //Alighn Vertical
    justify-content: center; //allign horizontal

    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 20vh;
        background-color: #FEF8F3;

        .left {
            max-width: 30%;
            img {
                max-width: 100%;
                max-height: auto;
            }
        }

        .right {
            a {
                margin-right: 15%;
                font-size: 20px;
            }

            img {
                max-width: 10%;
                max-height: auto;
                border-radius: 50%;
                cursor: pointer;
            }
        }
          
        .gap {
            width: 5px; /* Set your desired gap width */
        }

    }

    .container{
        border: 0px solid white;
        border-radius: 10px;
        width: 65%;
        height: 85%;
        display: flex;
        overflow: visible;

        .chat{
            flex: 2;
            background-color: green($color: #000000);
            max-width: 100%;

            .submit-convo{
                justify-content: center;
                display: flex;
                margin-top: 2vh;

                button{
                    color: black;
                    border: 2px solid black;
                    padding: 5px;
                    background-color: #13f085;
                }
            }

            .chatInfo{
                height: 50px;
                background-color: grey;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: lightblue;

                .chatIcons{
                    img{
                        background-color: white;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                        margin-right: 5px;
                    }
                }
            }

            .messages::-webkit-scrollbar {
                display: none;
            }

            .messages {
                background-color: #FEF8F3;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;
                overflow-x: hidden;

                .message{
                    display: flex;
                    gap: 20px;
                    margin-left: 10%;
                    max-width: 80%; /* Set your desired maximum width */
                    word-wrap: break-word; /* Wrap long words */
                    overflow-wrap: break-word; /* For older browsers */

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: lighter;
                        font-size: 12px;
                        margin-bottom: 20px;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                            background-color: black;
                            margin-top: 35%;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                          background-color: #005670;
                          border-radius: 0px 10px 10px 10px;  
                          padding: 10px 20px;
                          color: white;
                          max-width: max-content;
                        }

                        img{
                            width: 50%;
                        }
                    }

                    &.owner{
                        //if it is a message, AND it is an owner, since we have 2 class names we can have combinations
                        flex-direction: row-reverse;
                        margin-left: 12%;

                        .messageContent{
                            align-items: flex-end;
                            p{
                                background-color: #43BDAD;
                                color: black;
                                border-radius: 10px 0px 10px 10px;
                                max-width: max-content;
                            }
                        }

                        .messageInfo {
                            img {
                                filter: invert(1.0);
                            }
                        }
                    }
                }
            }

            .input {
                height: 7vh;
                background-color: #FEF8F3;
                width: 70%;
                padding: 10px;
                display: flex;
                align-items: center;
                margin-left: 10%;
                padding-left: 10%;
                justify-content: space-between;
                padding-top: 50px;
                overflow: hidden;
                border-radius: 50px;
                border: 4px solid black;

                .input-area{
                    width: 35vw;
                    display: flex;
                    input{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        background-color: #FEF8F3;
                        color: black;
                        font-size: 18px;
                        border-radius: 20px;
                        margin-right: auto;
                        text-align: left;

                        &::placeholder{
                            color: black;
                            text-align: left;
                        }

                    
                    }
                }
                

                .send{
                    display: flex;
                    height: 100%;

                    button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 15px;
                        height: 50px;
                        width: 5vw;
                        color: black;
                        background-color: #FEF8F3;
                        border: 4px solid black;
                        cursor: pointer;
                        font-weight: bolder;
                        font-size: 1vw;
                        text-align: center;
                        margin-left: 150%;
                        position: relative;
                        top: 50%;
                    }
                }
            }
        }
    }
}