.adminhome {
    display: flex;
    height: 100vh; /* Adjust the height as needed */
  }
  
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 20vh;
    background-color: #FEF8F3;

    .left {
        max-width: 30%;
        img {
            max-width: 100%;
            max-height: auto;
        }
    }

    .right {
        a {
            margin-right: 15%;
            font-size: 20px;
        }
        img {
            max-width: 10%;
            max-height: auto;
            border-radius: 50%;
            cursor: pointer;
        }
        button {
            margin-right: 15%;
            max-width: 100%;
            max-height: auto;
            background-color: #005670;
            color: white;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
        }
    }
      
    .gap {
        width: 5px; /* Set your desired gap width */
    }

}
