name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: SSH into DigitalOcean droplet and deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DIGITALOCEAN_HOST }}
          username: ${{ secrets.DIGITALOCEAN_USERNAME }}
          password: ${{ secrets.DIGITALOCEAN_PASSWORD }}
          script: |
            cd mindscape
            rm -rf .env

            echo "CLIENT_PORT=${{ secrets.CLIENT_PORT }}">> .env
            echo "SERVER_PORT=${{ secrets.SERVER_PORT }}">> .env
            echo "GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}">> .env
            echo "GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}">> .env
            echo "FLASK_SECRET_KEY=${{ secrets.FLASK_SECRET_KEY }}">> .env
            echo "AUTHLIB_INSECURE_TRANSPORT=${{ secrets.AUTHLIB_INSECURE_TRANSPORT }}">> .env
            echo "OPENAI_KEY=${{ secrets.OPENAI_KEY }}">> .env
            echo "OPENAI_ORGANIZATION=${{ secrets.OPENAI_ORGANIZATION }}">> .env

            git pull origin main
            docker compose build
            docker compose up -d
